fastapi
uvicorn
motor
pydantic
pydantic-settings
python-jose[cryptography]
passlib[argon2]
groq
faiss-cpu
sentence-transformers
PyPDF2
python-docx
pytesseract
Pillow
openpyxl
pandas
duckduckgo-search
python-multipart
